/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    height: 100%;
    width: 100%;
    margin: 0;
}