.page-layout {
    display: flex;
    justify-content: center;
    background-color: #23103d;
    height: 100%;
}

.stepper-container {
    top: 15%;
    position: relative;
    width: 80%;
    height: 50%;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 3.75rem 1.75rem 4rem 3.75rem;
}

app-stepper {
    width: 100%;
}